.vscode/
/bin/
/tmp/
/target/
/upspeak.dev.json
/upspeak.json


#Added by cargo

/target


#Added by cargo
#
#already existing elements were commented out

#/target


# Added by cargo
#
# already existing elements were commented out

#/target
Cargo.lock
